# 2020 Rolex 24 Hours of Daytona

Data from [IMSA Results](http://results.imsa.com/).

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib as mpl
from matplotlib import colors
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
from datetime import datetime
from matplotlib.dates import date2num, datestr2num, num2date
mpl.rcParams['font.sans-serif'] = "AppleGothic"
pd.set_option('display.max_rows', 80)
pd.set_option('display.max_columns', 80)

In [2]:
h1 = pd.read_csv("./data/h1.csv", delimiter=";", header=0, skipinitialspace=True, index_col=False)
h2 = pd.read_csv("./data/h2.csv", delimiter=";", header=0, skipinitialspace=True, index_col=False)
h3 = pd.read_csv("./data/h3.csv", delimiter=";", header=0, skipinitialspace=True, index_col=False)

In [3]:
data = pd.concat([h1, h2, h3])
data.head()

,POSITION,NUMBER,TEAM,DRIVER_1,DRIVER_2,DRIVER_3,DRIVER_4,VEHICLE,TYRES,CLASS,GROUP,DIVISION,STATUS,LAPS,TOTAL_TIME,GAP_FIRST,GAP_PREVIOUS,FL_LAPNUM,FL_TIME,FL_KPH,DRIVER_5,Unnamed: 21
0,1,77,Mazda Team Joest,Oliver Jarvis,Tristan Nunez,Olivier Pla,NaN,Mazda DPi,M,DPi,NaN,NaN,Classified,37,1:01'03.633,NaN,NaN,36,1'35.652,215.6,NaN,NaN
1,2,31,Whelen Engineering Racing,Felipe Nasr,Mike Conway,Pipo Derani,Filipe Albuquerque,Cadillac DPi,M,DPi,NaN,NaN,Classified,37,1:01'06.026,2.393,2.393,12,1'36.037,214.8,NaN,NaN
2,3,6,ACURA TEAM PENSKE,Dane Cameron,Juan Pablo Montoya,Simon Pagenaud,NaN,Acura DPi,M,DPi,NaN,NaN,Classified,37,1:01'08.888,5.255,2.862,22,1'35.741,215.4,NaN,NaN
3,4,55,Mazda Team Joest,Jonathan Bomarito,Harry Tincknell,Ryan Hunter-Reay,NaN,Mazda DPi,M,DPi,NaN,NaN,Classified,37,1:01'12.594,8.961,3.706,33,1'36.046,214.7,NaN,NaN
4,5,7,ACURA TEAM PENSKE,Helio Castroneves,Alexander Rossi,Ricky Taylor,NaN,Acura DPi,M,DPi,NaN,NaN,Classified,37,1:01'23.202,19.569,10.608,23,1'36.379,214.0,NaN,NaN

In [13]:
timeformat = '%H:%M\'%S.%f'
data['time'] = pd.to_datetime(data.loc[:,'TOTAL_TIME'], format=timeformat)
data.head()

,POSITION,NUMBER,TEAM,DRIVER_1,DRIVER_2,DRIVER_3,DRIVER_4,VEHICLE,TYRES,CLASS,GROUP,DIVISION,STATUS,LAPS,TOTAL_TIME,GAP_FIRST,GAP_PREVIOUS,FL_LAPNUM,FL_TIME,FL_KPH,DRIVER_5,Unnamed: 21,time
7,8,55,Mazda Team Joest,Jonathan Bomarito,Harry Tincknell,Ryan Hunter-Reay,NaN,Mazda DPi,M,DPi,NaN,NaN,Classified,109,3:02'37.809,1'31.820,4.307,48,1'35.682,215.6,NaN,NaN,1900-01-01 03:02:37.809
9,10,8,Tower Motorsport by Starworks,John Farano,Ryan Dalziel,David Heinemeier Hansson,Nicolas Lapierre,ORECA LMP2 07,M,LMP2,NaN,NaN,Classified,106,3:02'37.606,3 Laps,53.139,52,1'37.508,211.5,NaN,NaN,1900-01-01 03:02:37.606
36,37,23,Heart Of Racing Team,Alex Riberas,Roman De Angelis,Ian James,Nicki Thiim,Aston Martin Vantage GT3,M,GTD,NaN,NaN,Classified,98,3:02'37.368,11 Laps,2.283,63,1'47.307,192.2,NaN,NaN,1900-01-01 03:02:37.368
25,26,98,ASTON MARTIN RACING,Pedro Lamy,Ross Gunn,Andrew Watson,Mat Lauda,Aston Martin Vantage GT3,M,GTD,NaN,NaN,Classified,99,3:02'35.588,10 Laps,0.321,62,1'46.326,194.0,NaN,NaN,1900-01-01 03:02:35.588
24,25,63,Scuderia Corsa,Cooper MacNeil,Toni Vilander,Jeff Westphal,Alessandro Balzan,Ferrari 488 GT3,M,GTD,NaN,NaN,Classified,99,3:02'35.267,10 Laps,1.233,85,1'46.562,193.6,NaN,NaN,1900-01-01 03:02:35.267